* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(98, 92, 92);
    width: 100vw;
    height: 100%;
    color: white;
}

.container .h1 {
    font-size: 3rem;
    text-align: center;
    padding-block: 2rem;
}

.container h1 {

    font-size: 1.4rem;
}

.all_product {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}